include ../../template/mixins
doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title шаблон
    link(rel='stylesheet', href='css/main.min.css')
  body
    include ../../components/header/header
    h1
      | hello
      |  worlddz
      span asfafs
